In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from itertools import combinations
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header = None)

In [3]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
df = df.rename(columns={0:"sepal length (cm)", 1:"sepal width (cm)", 2:"petal length (cm)", 3:"petal width(cm)", 4:"class"})
df.columns = df.columns.str.replace(' ', '_')

In [5]:
df.head()

,sepal_length_(cm),sepal_width_(cm),petal_length_(cm),petal_width(cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [6]:
features = df.columns[0:len(df.columns)-1]
for f in features:
    print(f)

sepal_length_(cm)
sepal_width_(cm)
petal_length_(cm)
petal_width(cm)

### To get all 6 possible combinations with the two features, we will use itertools.combinations function

In [8]:
#get combinations of all features
def getFeatureCombination(features):
    feature_combination = list()
    
    feature_combination+=(list(combinations(features, 2)))    
    return feature_combination

ans = getFeatureCombination(features)
for a in ans:
    print(list(a))

['sepal_length_(cm)', 'sepal_width_(cm)']
['sepal_length_(cm)', 'petal_length_(cm)']
['sepal_length_(cm)', 'petal_width(cm)']
['sepal_width_(cm)', 'petal_length_(cm)']
['sepal_width_(cm)', 'petal_width(cm)']
['petal_length_(cm)', 'petal_width(cm)']

In [9]:
answer_dict = {
    "SGD Classifier":"",
    "Logistic Regression":"",
}

SyntaxError: expression expected after dictionary key and ':' (838773680.py, line 2)